AuthorizeHandler#getResponseType() should return `unsupported_response_type` instead of `invalid_request`

See `unsupported_response_type` in [section 4.1.2.1 of RFC 6749](https://tools.ietf.org/html/rfc6749#section-4.1.2.1):

> unsupported_response_type
>                The authorization server does not support obtaining an
>                authorization code using this method.