AuthenticateHandler#verifyScope() should return `insufficient_scope` instead of `invalid_scope`

See `insufficient_scope` in [section 3.1 of RFC 6750](https://tools.ietf.org/html/rfc6750.html#section-3.1):

> insufficient_scope
>          The request requires higher privileges than provided by the
>          access token.  The resource server SHOULD respond with the HTTP
>          403 (Forbidden) status code and MAY include the "scope"
>          attribute with the scope necessary to access the protected
>          resource.